@model IEnumerable<DBWorks.Models.Employee>


@{
    ViewBag.Title = "GetEmployees";
}

<h2>GetEmployees</h2>

<ul>
    @foreach (var employee in Model)
    {
        <li>@Html.ActionLink(employee.Name, "EmployeeDetails", new{id = employee.EmployeeId})</li>

        if (employee.Salary > 4000000)
        {
            <li>@employee.Name is a bigger boy</li>
        }

        if (employee.ExperienceYears > 3)
        {
            <li>@employee.Name is a senior staff</li>
        }
    }

    
</ul>
