
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        Jesus Christ is Lord (From the view)
        <h2>We ar going to have an exciting party...</h2>
        <h3>And you are invited</h3>
        <p>Get ready to party hard</p>
        
        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RSVPForm");
            @Html.ActionLink("Buy car now", "CarPurchaseForm");
            @Html.ActionLink("Who is your favourite music artist","FavouriteArtistForm");
        </div>
        
    </div>
</body>
</html>
