@model PartyInvite.Models.FavouriteArtistResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReplyUserFavouriteUser</title>
</head>
<body>
<div>
    <p>Thank you @Model.UserName for telling us a little bit about @Model.ArtistName</p>
</div>
</body>
</html>
