@model PartyInvite.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <title>Thanks</title>
</head>
<body>
    <div class="text-center">
        <h1>Thank you @Model.Name</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:Good to know. Your drink is already in the fridge
            }
            else
            {
                @:Dont worry. I will help you eat your share.
            }
        </div>
        
    </div>
</body>
</html>
