@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Result</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <div>
            @Model
        </div>
    </body>
</html>

